@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gainsboro;
}
.component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 430px;
  border-radius: 30px;
  background-color: white;
  transition: all 0.2s;
}
.component .left {
  border-radius: 30px;
  width: 50%;
  height: 100%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s;
}
.component .left .average-area {
  width: 170px;
  height: 170px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  margin: 30px 0px;
}
.component .left .average-area .average {
  font-size: 60px;
  font-weight: bolder;
  display: inline-block;
  color: white;
}
.component .left .average-area .total {
  color: lightgrey;
  font-weight: 600;
}
.component .left h3 {
  color: lightgrey;
}
.component .left .grade {
  font-size: 25px;
  color: white;
  font-weight: 700;
}
.component .left .text {
  text-align: center;
  color: lightgrey;
  max-width: 70%;
  margin: 20px 0px;
  font-size: 15px;
}
.component .right {
  width: 50%;
  padding: 30px;
  transition: all 0.2s;
}
.component .right .Summary {
  font-size: 20px;
  font-weight: bolder;
  color: hsl(224, 30%, 27%);
}
.component .right ul {
  margin: 30px 0px;
}
.component .right ul li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}
.component .right ul li .subjects {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.component .right ul li .subjects span {
  margin-left: 7px;
}
.component .right ul .reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
.component .right ul .memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.component .right ul .verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.component .right ul .visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}
.component .right ul li .score {
  color: hsl(224, 30%, 27%);
  font-weight: bolder;
}
.component .right ul li .score span {
  color: grey;
  font-weight: 600;
}
.component .right button {
  width: 100%;
  text-align: center;
  color: white;
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  padding: 14px 0px;
}
@media (max-width: 620px) {
  .component {
    flex-direction: column;
    height: auto;
    margin: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: all 0.2s;
  }
  .component .left {
    width: 100%;
    height: 50%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 10px;
    transition: all 0.2s;
  }
  .component .right {
    width: 100%;
    height: 50%;
    transition: all 0.2s;
  }
}
